{% extends '::base.html.twig' %}
{% block title %}mcoupon Form{% endblock %}
{% block javascripts %}
{% endblock %}
{% block body %}
    <br>
    <br>
    <br>
    <h2 style="color: #0086b1">&nbsp; Manage Passes</h2>
    <table class="table table-striped table-bordered table-condensed">
        <tr>
            {# sorting of properties based on query components #}
            <th style="color: #0086b1; text-align: center">ID</th>
            <th style="color: #0086b1; text-align: center">Pass Template</th>
            <th style="color: #0086b1; text-align: center" colspan="4">Pass Delivery Info</th>
            <th style="color: #0086b1; text-align: center">Total Generated</th>
            <th style="color: #0086b1; text-align: center">Total Installed</th>
            <th style="color: #0086b1; text-align: center">Stats</th>
            <th style="color: #0086b1; text-align: center">Manage</th>

        </tr>

        {# table body #}
        {% for mgeneral in pagination %}
            <tr {% if loop.index is odd %}class="color"{% endif %}>
                <td style="text-align: center">{{ mgeneral.Id }}</td>
                <td><b>{{ mgeneral.Template }}</b><br>
                    {{ mgeneral.Category }}</td>
                <td style="text-align: center">
                    <b>
                        Email
                    </b>
                    <br> 0 Passes
                </td>
                <td style="text-align: center">
                    <b>
                        MMS
                    </b>
                    <br>0 Passes
                </td>
                <td style="text-align: center">
                    <b>
                        Mobile Web
                    </b>
                    <br>0 Passes
                </td>
                <td style="text-align: center">
                    <b>
                        Direct
                    </b>
                    <br>0 Passes
                </td>
                <td style="text-align: center">0 generated</td>
                <td style="text-align: center">0 installed</td>
                <td style="text-align: center"><a type="button" class="btn" href="{{ path('apb_appass_datastats', {'id': mgeneral.couponId}) }}">Stats</a></td>
                <td style="text-align: center"><a type="button" class="btn" href="{{ path('apb_appass_dynamicmanage', {'id': mgeneral.couponId}) }}">Manage</a></td>
            </tr>
        {% endfor %}
    </table>
    {# display navigation #}
    <div class="navigation">
        {{ knp_pagination_render(pagination) }}
    </div>


{% endblock %}
